ENV=qa
NORMAL_USERNAME=harin.patel+01@cloudoffis.com.au
NORMAL_PASSWORD=Harin123@
NORMAL_TOTP_SECRET=PV2UWWUHOLQXPVTF
XERO_USERNAME=krupa.p+0002@cloudoffis.com.au
XERO_PASSWORD=Cloud@123
XERO_TOTP_SECRET=GBLEEMLCNNAXESZRGN3TMRDOJY

# JIRA Integration Settings
JIRA_HOST=your-domain.atlassian.net
JIRA_PROJECT_KEY=QA
JIRA_EMAIL=your-email@company.com
JIRA_API_TOKEN=your-jira-api-token

